<style>
   h1{
       border-bottom: 12px;
   }

    nav {
        border-right: 1px black solid;
        float: left;
        width: 200px;
        height: 600px;
    }

    article {
        padding: 18px;
    }

    nav ol {
        list-style: none;
    }

    h2 {
        font-size: 50px;
    }
 </style>